<div class="text-center">
    <h1> 
    Welcome to Colossus HQ. 
    </h1>
    <p> 
    Colossus is a platform that aims to redefine the media by which students and teachers interact. 
    </p>
</div>