<div class='container-fluid callout-navbar'>
    <h1> 
    Welcome to colossus HQ. 
    </h1>
    <p> 
    colossus is a platform that aims to redefine the media by which students and teachers interact. 
    </p>
</div>